<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .apis {
        padding: 0;
      }
      .apis li {
        background-color:darkslategray;
        list-style: none;
        margin: 30px 0;
        padding: 10px;
      }
      .apis li div {
        font-size: large;
        margin: 20px 0;
        color: #fff;
        font-weight: bold;
      }
      .apis li div span {
        color:grey;
      }
      .body {
        padding: 10px;
        background-color: #fff;
        color: green !important;
        display: inline-block;
      }
      .protected{
        padding: 30px 15px;
        background-color: grey;
        color: #fff;
        font-weight: bold;
        font-size: larger;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
     <div class="protected">
    APIs That Require Login : <% protectedAPIsThatRequireLogin.map(e =>{   %> 
<span><%= JSON.stringify(e) %> </span>
  <%  }) %> 
   </div>
    <ul class="apis">
      <% document.map(e => { %>
      <li>
        <div><span> API </span> : <%= JSON.stringify(e.api) %></div>
        <div><span> Method </span>: <%= e.method %></div>
        <div><span>Description</span> : <%= e.description %></div>
        <div><span> return</span> : <%= e.return %></div>
        <div>
          <span> body </span>:<span class="body">
            <%= JSON.stringify(e.body) %></span
          >
        </div>
        <div><span> ID </span>: <%= e.id?e.id:"no params" %></div>
        <div><span> notes </span>: <%= e.note0?e.note0:"" %><br>
            <%= e.note1?e.note0:"" %>
        
        </div>
      </li>

      <% }) %>
    </ul>
  
  </body>
</html>
